// main table container styling
.usertable{
	text-align: center;
	font-family: helvetica, arial, verdana, sans-serif;
	padding: 40px 0px;
}
// filter/sort
.usertable-filtersort{
	padding: 20px 0px;
}
// main table
.usertable-table{
	margin: 0 auto;
	text-align: left;
	border-spacing: 0px;
	border-collapse: collapse;
	th{
		font-weight: bold;
	}
}
// alternating row background color
.usertable-table-row:not(:first-child){
	&:nth-child(odd){
		background-color: #eee;
	}
	&:nth-child(even){
		background-color: #ccc;
	}
}
// cell styling
.usertable-table-row-cell{
	border: 1px solid black;
	padding: 7.5px;
}
// pagination
.usertable-pagination{
	margin-top: 20px;
	list-style: none;
}
.usertable-pagination-item{
	display: inline-block;
	cursor: pointer;
	padding: 0px 5px;
	color: #a8a8a8;
	&--active{
		color: black;
	}
}